* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Inter', 'Rubik', sans-serif;
}

.hero-pos {
  position: absolute;
}

.hero-section {
  width: 1440px;
  height: 865px;
  left: 0px;
  top: 850px;
  background: #0d0d2b;
}

.hero-section .icon-digital-currency {
  width: 80px;
  height: 80px;
  left: 120px;
  top: 100px;
}

.hero-section .text-digital-currency-head {
  width: 110px;
  height: 60px;
  left: 224px;
  top: 100px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}

.hero-section .text-digital-currency-content {
  width: 230px;
  height: 28px;
  left: 224px;
  top: 164px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.icon-trusted-wallets {
  width: 80px;
  height: 80px;
  left: 553px;
  top: 100px;
}

.text-trusted-wallets-head {
  /* 10M+ */
  width: 105px;
  height: 60px;
  left: 657px;
  top: 100px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}

.text-trusted-wallets-content {
  /* Trusted Wallets Investor */
  width: 230px;
  height: 28px;
  left: 657px;
  top: 164px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.icon-countries {
  width: 80px;
  height: 80px;
  left: 986px;
  top: 100px;
}

.text-countries-head {
  /* 195 */
  width: 72px;
  height: 60px;
  left: 1090px;
  top: 100px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}

.text-countries-content {
  /* Countries Supported */
  width: 230px;
  height: 28px;
  left: 1090px;
  top: 164px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.hero-img {
  width: 650px;
  height: 473px;
  left: 120px;
  top: 292px;
}

.hero-head {
  width: 480px;
  height: 119.95px;
  left: 840px;
  top: 368.97px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}

.hero-text {
  width: 408px;
  height: 83.96px;
  left: 840px;
  top: 512.91px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.hero-learn-more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  gap: 24px;
  width: 146px;
  height: 59px;
  left: 840px;
  top: 628.86px;
  background: #3671e9;
  border-radius: 32px;
}
/*# sourceMappingURL=main.css.map */